Repository Vulpstation/Vulpstation, pull requests merged in 2025-09, with the labels that each got.

#84 Map Updates
  Resources/Maps/_Vulp/StartingShuttles/mining-bunker.yml
  Resources/Maps/_Vulp/Structures/native-outpost-LV-624.yml
Labels: Changes: Map, Changes: YML

#86 Fix the Hop Collar Not Being in the Hop Loadout
  Resources/Prototypes/_Vulp/Entities/Neck/collars.yml
  Resources/Prototypes/_Vulp/Loadouts/neck.yml
Labels: Changes: YML

#94 Whitelist
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Client/UserInterface/Systems/WhitelistWindow/Controls/WhitelistDenialWindow.xaml.cs
  Resources/Locale/en-US/players/play-time/whitelist.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#89 Added New Map Abandoned Base to the Planet Vote Pull.
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Vulp/StartingShuttles/abandoned.yml
  Resources/Prototypes/_Vulp/Entities/Stations/Specific/abandoned-base.yml
  Resources/Prototypes/_Vulp/Maps/Pools/planet.yml
  Resources/Prototypes/_Vulp/Maps/planet-abandoned.yml
Labels: Changes: C#, Changes: Map, Changes: YML

#95 Fixes Uplink Implant & Briefing Message for Midround Traitor Activation
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: Changes: C#, Changes: YML

#101 Updated Abandoned Base
  Resources/Maps/_Vulp/StartingShuttles/abandoned.yml
  Resources/Prototypes/_Vulp/Entities/Stations/Specific/abandoned-base.yml
  Resources/Prototypes/_Vulp/Entities/Stations/planet.yml
Labels: Changes: Map, Changes: YML

#100 Give Remilia Nightvision
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
Labels: Changes: YML

#99 Add Biogenerator
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.Server/Materials/Components/ProduceMaterialExtractorComponent.cs
  Content.Server/Materials/ProduceMaterialExtractorSystem.cs
  Resources/Locale/en-US/lathe/components/lathe-component.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#98 Suggested Cargo Bounty Tweaks
  Resources/Locale/en-US/_Vulp/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_Floof/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_lewd.yml
  Resources/Prototypes/_Vulp/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_Vulp/tags.yml
Labels: Changes: Localization, Changes: YML

#103 Remove Requested Sprites for Collars
  Resources/Prototypes/_Vulp/Entities/Neck/collars.yml
  Resources/Textures/_Vulp/Clothing/Neck/collar_ccd.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_ccd.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_ce.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_ce.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmd.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmd.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmo.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmo.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hop.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hop.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hos.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hos.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_lo.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_lo.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_mys.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_mys.rsi/icon.png
Labels: Changes: Sprite, Changes: YML

#97 Fix the Recursive Delete Heisentest (?)
  Content.IntegrationTests/AssemblyInfo.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/_Vulp/PlanetaryGridsTest.cs
  Content.Server/_Vulp/Station/Systems/PlanetStationSystem.GridMerging.cs
  Content.Server/_Vulp/Station/Systems/StationLoadPlanetaryGridsSystem.cs
  Resources/ConfigPresets/Build/debug.toml
Labels: Changes: C#, Changes: Config, Changes: Map, Changes: YML

#106 Add New Map Mining Outpost
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Vulp/StartingShuttles/cave-shaft.yml
  Resources/Prototypes/_Vulp/Entities/Stations/Specific/cave-shaft.yml
  Resources/Prototypes/_Vulp/Maps/Pools/planet.yml
  Resources/Prototypes/_Vulp/Maps/planet-cave-shaft.yml
  Resources/Prototypes/_Vulp/Procedural/biome_templates.yml
  Resources/Prototypes/_Vulp/Tiles/planet.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#107 Tiny Correction(s)
  Content.Server/Materials/MaterialStorageSystem.cs
  Resources/Locale/en-US/lathe/components/lathe-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#104 Log Seat & More Tables
  Resources/Prototypes/_Nuclear14/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
  Resources/Prototypes/_Vulp/Entities/Objects/Decorations/logseat.yml
  Resources/Prototypes/_Vulp/Entities/Objects/Decorations/tables.yml
Labels: Changes: YML

#105 Buildable Signs
  Resources/Prototypes/Entities/Structures/Wallmount/signs.yml
  Resources/Prototypes/_Vulp/Entities/Structures/Signs/signs.yml
Labels: Changes: YML
