Repository Vulpstation/Vulpstation, pull requests merged in 2025-07, with the labels that each got.

#3 Upstream Merge #1228 | Fix Internals on Pets
  Content.Server/Body/Systems/InternalsSystem.cs
  Scripts/git/mirror-pr.sh
Labels: Changes: C#, Changes: YML

#4 Upstream Merge #1217 | Stable Language Obfuscation
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
Labels: Changes: C#, Changes: YML

#5 Grass Isn't Plating
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
Labels: Changes: C#, Changes: YML

#6 Dirt and Soil Stuff
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Shared/Maps/TileSystem.cs
  Content.Shared/Tiles/FloorTileSystem.cs
  Resources/Locale/en-US/_Vulp/reagents/botany.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/soil.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_Vulp/Entities/Objects/Specific/Hydroponics/dirt.yml
  Resources/Prototypes/_Vulp/Entities/Structures/soil.yml
  Resources/Prototypes/_Vulp/Reagents/botany.yml
  Resources/Prototypes/_Vulp/Recipes/Construction/Graphs/hydroponics.yml
  Resources/Prototypes/_Vulp/Recipes/Construction/hydroponics.yml
  Resources/Prototypes/_Vulp/Stacks/dirt.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#7 Planet Map !!!!
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_Vulp/Station/Components/PlanetStationComponent.cs
  Content.Server/_Vulp/Station/Systems/PlanetStationSystem.cs
  Resources/Maps/_Vulp/bouba.yml
  Resources/Prototypes/_Vulp/Entities/Stations/planet.yml
  Resources/Prototypes/_Vulp/Maps/Pools/planet.yml
  Resources/Prototypes/_Vulp/Maps/planet.yml
Labels: Changes: C#, Changes: Map, Changes: YML

#12 Small Updates to Starting Shuttle
  Resources/Maps/_Vulp/bouba.yml
Labels: Changes: Map, Changes: YML

#11 Fix Tiles Actual
  Content.Shared/Tiles/FloorTileSystem.cs
Labels: Changes: C#, Changes: YML

#13 Attempt at Making GridAtmosphere Inheit MapAtmosphere
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: Changes: C#, Changes: YML

#21 Balancing Tweaks
  Content.Server/Gatherable/Components/GatherableComponent.cs
  Content.Server/Gatherable/Components/GathererComponent.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/_Floof/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_Vulp/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_Vulp/Recipes/Construction/rocks.yml
Labels: Changes: C#, Changes: YML

#25 Adds Vending Machines to Cargo Purchase List & Adds Access Configurator to Engi-Vend
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
Labels: Changes: YML

#22 Add Missing Jobs
  Resources/Prototypes/_Vulp/Maps/planet-bouba.yml
  Resources/Prototypes/_Vulp/Maps/planet-colony-drop-pod.yml
Labels: Changes: YML

#29 Slightly Weaker Rocks
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_Vulp/Entities/Structures/Walls/asteroid.yml
Labels: Changes: YML

#31 More Windows
  Resources/Prototypes/_Nuclear14/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/_Vulp/Entities/Structures/windows.yml
Labels: Changes: YML

#33 Flatpacks and Restricts SecDrobe, SecTech and PTech to Secure Crates
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_Vulp/Catalog/Cargo/vending_machines.yml
  Resources/Prototypes/_Vulp/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Vulp/Entities/Objects/Devices/flatpack.yml
Labels: Changes: YML

#28 Constructible Holopads and Lathes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Vulp/Entities/Objects/Devices/Circuitboards/communication.yml
  Resources/Prototypes/_Vulp/Entities/Structures/Machines/communication.yml
  Resources/Prototypes/_Vulp/Recipes/Lathes/communication.yml
Labels: Changes: YML

#34 Fix Grid Atmos (This Time for Real)
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/_Vulp/Station/Systems/PlanetStationSystem.cs
  Content.Shared/Atmos/GasMixture.cs
  Content.Shared/Parallax/Biomes/BiomeComponent.cs
  Resources/Prototypes/XenoArch/artifact_triggers.yml
Labels: Changes: C#, Changes: YML

#36 Updated Colony Drop Pod
  Resources/Maps/_Vulp/StartingShuttles/colony-drop-pod.yml
Labels: Changes: Map, Changes: YML
