Repository Vulpstation/Vulpstation, pull requests merged in 2025-08, with the labels that each got.

#39 Grid Atmos Bandaid Fix for Null Adjacent Tiles
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
Labels: Changes: C#, Changes: YML

#43 Shuttle Vote
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Shared/_Vulp/VulpCCVars.cs
  Resources/Locale/en-US/round-end/round-end-system.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#44 Port the Tilecutter
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/cutter.ogg
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/concrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/concrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark.png
  Resources/Textures/Objects/Tiles/tile.rsi/grayconcrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/grayconcrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/oldconcrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/oldconcrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/white.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/building.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/icon.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/meta.json
  Resources/Textures/Structures/Machines/cuttermachine.rsi/panel.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/unlit.png
Labels: Changes: Audio, Changes: Sprite, Changes: YML

#48 Monstermos V2
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/MonstermosInfo.cs
  Content.Shared/Atmos/GasMixture.cs
Labels: Changes: C#, Changes: YML

#49 Mute Ooc Smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Mind/MindComponent.cs
Labels: Changes: C#, Changes: YML

#50 Native Job + Passenger Rebranding
  Resources/Locale/en-US/_Vulp/roles/roles.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Floof/Roles/Jobs/departments.yml
  Resources/Prototypes/_Vulp/Maps/planet-bouba.yml
  Resources/Prototypes/_Vulp/Maps/planet-colony-drop-pod.yml
  Resources/Prototypes/_Vulp/Roles/native.yml
  Resources/Textures/_Vulp/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Vulp/Interface/Misc/job_icons.rsi/native.png
Labels: Changes: Localization, Changes: Sprite, Changes: YML

#51 Planet QOL Improvements
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/_Vulp/Tiles/TileSpreadComponent.cs
  Content.Server/_Vulp/Tiles/TileSpreadSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Tiles/liquid_plasma.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_Nuclear14/Tiles/water.yml
  Resources/Prototypes/_Vulp/Maps/planet-bouba.yml
  Resources/Prototypes/_Vulp/Maps/planet-colony-drop-pod.yml
Labels: Changes: C#, Changes: YML

#52 Atmos Fix Electric Boogalo
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
Labels: Changes: C#, Changes: YML

#53 Major Fixes
  Content.Client/Movement/Systems/FloorOcclusionSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/GameTicking/Rules/Components/SecretRuleComponent.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/Parallax/BiomeSystem.UnloadingChecks.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Shared/Atmos/GasMixture.cs
  Content.Shared/Movement/Systems/SharedFloorOcclusionSystem.cs
  Content.Shared/Parallax/Biomes/BiomeComponent.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-secret.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Vulp/Entities/Stations/planet.yml
  Resources/Prototypes/_Vulp/Procedural/biome_loot.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#57 Improved Starting Pod and More
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Server/_Vulp/Station/Components/PlanetStationComponent.cs
  Content.Server/_Vulp/Station/Systems/PlanetStationSystem.cs
  Resources/Maps/_Vulp/StartingShuttles/colony-drop-pod.yml
  Resources/Migrations/eeMigration.yml
  Resources/Prototypes/_Vulp/Entities/Stations/planet.yml
  Resources/Prototypes/_Vulp/Entities/Structures/cryosleep.yml
  Resources/Prototypes/_Vulp/Maps/planet-bouba.yml
  Resources/Prototypes/_Vulp/Maps/planet-colony-drop-pod.yml
  Resources/Prototypes/_Vulp/Roles/native.yml
Labels: Changes: C#, Changes: Map, Changes: YML

#59 Better Muzzle Accent
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_Vulp/Speech/Accents/Mumble/MumbleAccentComponent.cs
  Content.Server/_Vulp/Speech/Accents/Mumble/MumbleAccentSystem.cs
  Content.Shared/_Vulp/Speech/Accents/Mumble/MumbleAccentPrototype.cs
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Vulp/Accents/mumble.yml
Labels: Changes: C#, Changes: YML

#61 Round Start Grid Spawning
  Content.Server/_Vulp/Station/Components/StationLoadPlanetaryGridsComponent.cs
  Content.Server/_Vulp/Station/Systems/PlanetStationSystem.cs
  Content.Server/_Vulp/Station/Systems/StationLoadPlanetaryGridsSystem.cs
  Resources/Maps/_Vulp/Structures/native-outpost-LV-624.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Prototypes/_Vulp/Entities/Stations/base-planet.yml
  Resources/Prototypes/_Vulp/Entities/Stations/planet.yml
Labels: Changes: C#, Changes: Map, Changes: YML

#62 Seismic Charge Tweak
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/explosion.yml
Labels: Changes: YML

#63 Oakstead Village Starting Map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Vulp/StartingShuttles/oakstead-village.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Wallmount/signs.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/woodwall.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Prototypes/_Vulp/Maps/Pools/planet.yml
  Resources/Prototypes/_Vulp/Maps/planet-oakstead-village.yml
Labels: Changes: C#, Changes: Map, Changes: YML

#64 Some Oakstead Tweaks
  Resources/Maps/_Vulp/StartingShuttles/oakstead-village.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/base_structuresigns.yml
Labels: Changes: Map, Changes: YML

#65 Another Wave of Fixes and Tweaks
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Common.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Server/_Vulp/Admin/AccountAgeCheckerSystem.cs
  Content.Server/_Vulp/Station/Systems/PlanetStationSystem.cs
  Content.Shared/_Vulp/VulpCCVars.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_Floof/Gamerules/Cargo_gifts.yml
  Resources/Prototypes/_Vulp/Entities/Markers/spawners.yml
  Resources/Prototypes/_Vulp/Procedural/biome_loot.yml
  Resources/Prototypes/_Vulp/Procedural/biome_templates.yml
  Resources/ServerInfo/_Vulp/Guidebook/Epistemics/GlimmerManagement.xml
Labels: Changes: C#, Changes: Documentation, Changes: Localization, Changes: YML

#66 Brickwalls
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/slantedwalls.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/tallwalls.yml
  Resources/Prototypes/_Vulp/Entities/Structures/Walls/brickwall.yml
Labels: Changes: YML

#70 Fix Server-Side Trait System Not Accounting for TraitPrototype.Slots
  Content.Server/Traits/TraitSystem.cs
Labels: Changes: C#, Changes: YML

#72 Make Npcs Retaliate
  Content.Server/NPC/Components/NPCRetaliationComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: Changes: C#, Changes: YML

#74 Weather Cycle
  Content.Client/Weather/WeatherSystem.cs
  Content.Server/Weather/WeatherSystem.cs
  Content.Server/_Vulp/Weather/Functions/WeatherCleanPuddles.cs
  Content.Server/_Vulp/Weather/Functions/WeatherRefillSolutions.cs
  Content.Server/_Vulp/Weather/Functions/WeatherSetAtmos.cs
  Content.Server/_Vulp/Weather/ListExt.cs
  Content.Server/_Vulp/Weather/WeatherCycleComponent.cs
  Content.Server/_Vulp/Weather/WeatherCycleSystem.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Content.Shared/_Vulp/Weather/WeatherCyclePrototype.cs
  Content.Shared/_Vulp/Weather/WeatherFunction.cs
  Resources/Locale/en-US/weather/weather.ftl
  Resources/Prototypes/_Vulp/Entities/Stations/base-planet.yml
  Resources/Prototypes/_Vulp/Weather/Cycles/tropical.yml
  Resources/Prototypes/weather.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#77 Hotfix Upstream Merge
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Changelog/Floof.yml
  Resources/Locale/en-US/_Floof/grab/grab.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#78 Centcom Udpates
  Resources/Maps/centcomm.yml
Labels: Changes: Map, Changes: YML

#79 Blueshield Drip Update
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Vulp/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Vulp/tags.yml
  Resources/Textures/_Vulp/Objects/Weapons/Melee/blueshield_sabre.rsi/icon.png
  Resources/Textures/_Vulp/Objects/Weapons/Melee/blueshield_sabre.rsi/inhand-left.png
  Resources/Textures/_Vulp/Objects/Weapons/Melee/blueshield_sabre.rsi/inhand-right.png
  Resources/Textures/_Vulp/Objects/Weapons/Melee/blueshield_sabre.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#83 Command Collars
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_Vulp/Entities/Neck/collars.yml
  Resources/Prototypes/_Vulp/Loadouts/neck.yml
  Resources/Prototypes/_Vulp/Recipes/Lathes/collars.yml
  Resources/Textures/_Vulp/Clothing/Neck/collar_ccd.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_ccd.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_ccd.rsi/meta.json
  Resources/Textures/_Vulp/Clothing/Neck/collar_ce.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_ce.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_ce.rsi/meta.json
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmd.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmd.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmd.rsi/meta.json
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmo.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmo.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_cmo.rsi/meta.json
  Resources/Textures/_Vulp/Clothing/Neck/collar_hop.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hop.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hop.rsi/meta.json
  Resources/Textures/_Vulp/Clothing/Neck/collar_hos.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hos.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_hos.rsi/meta.json
  Resources/Textures/_Vulp/Clothing/Neck/collar_lo.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_lo.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_lo.rsi/meta.json
  Resources/Textures/_Vulp/Clothing/Neck/collar_mys.rsi/equipped-NECK.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_mys.rsi/icon.png
  Resources/Textures/_Vulp/Clothing/Neck/collar_mys.rsi/meta.json
Labels: Changes: Sprite, Changes: YML
